.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.faceBox {
  position: absolute;
  border: 2px solid #00ff00;
  box-sizing: border-box;
}

.faceInfo {
  background: rgba(0, 255, 0, 0.2);
  padding: 5px;
  color: #fff;
  font-size: 12px;
}