.faceInfo {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  z-index: 11;
  margin-top: 5px;
}

.faceInfo p {
  margin: 4px 0;
}